<?xml version="1.0" encoding="utf-8"?>
<web-app  version="2.5">
    <welcome-file-list>
        <welcome-file>question</welcome-file>
    </welcome-file-list>
    
    <!-- Question Actions -->
    <servlet>
      <servlet-name>question</servlet-name>
      <servlet-class>surveytest.controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>questionAdd</servlet-name>
      <servlet-class>surveytest.controller.QuestionAddServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>questionUpdate</servlet-name>
      <servlet-class>surveytest.controller.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>question</servlet-name>
      <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>questionAdd</servlet-name>
      <url-pattern>/questionAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>questionUpdate</servlet-name>
      <url-pattern>/questionUpdate</url-pattern>
    </servlet-mapping>
       
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/WEB-INF/redirects/error.jsp</location>
    </error-page>
    
</web-app>
