<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <welcome-file-list>
        <welcome-file>surveys</welcome-file>
    </welcome-file-list>
    
    <servlet>
      <servlet-name>surveys</servlet-name>
      <servlet-class>surveytest.controller.SurveysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveys</servlet-name>
      <url-pattern>/surveys</url-pattern>
    </servlet-mapping>
    
    <!-- Question Actions -->
    <!--
    <servlet>
      <servlet-name>question</servlet-name>
      <servlet-class>surveytest.controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>questionAdd</servlet-name>
      <servlet-class>surveytest.controller.QuestionAddServlet</servlet-class>
    </servlet>
    <servlet>
      <servlet-name>questionUpdate</servlet-name>
      <servlet-class>surveytest.controller.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>question</servlet-name>
      <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>questionAdd</servlet-name>
      <url-pattern>/questionAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
      <servlet-name>questionUpdate</servlet-name>
      <url-pattern>/questionUpdate</url-pattern>
    </servlet-mapping>
    -->
       
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/redirects/error.jsp</location>
    </error-page>
    
</web-app>
