<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd">
 
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <welcome-file-list>
        <welcome-file>surveys</welcome-file>
    </welcome-file-list>

    <!-- Surveys -->    
    <servlet>
      <servlet-name>surveys</servlet-name>
      <servlet-class>surveytest.controller.SurveysServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveys</servlet-name>
      <url-pattern>/surveys</url-pattern>
    </servlet-mapping>
    
    <!-- Survey -->
    <servlet>
      <servlet-name>survey</servlet-name>
      <servlet-class>surveytest.controller.SurveyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>survey</servlet-name>
      <url-pattern>/survey</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>surveyAdd</servlet-name>
      <servlet-class>surveytest.controller.SurveyAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyAdd</servlet-name>
      <url-pattern>/surveyAdd</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>surveyUpdate</servlet-name>
      <servlet-class>surveytest.controller.SurveyUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyUpdate</servlet-name>
      <url-pattern>/surveyUpdate</url-pattern>
    </servlet-mapping>

    <!-- Language -->
    <servlet>
      <servlet-name>language</servlet-name>
      <servlet-class>surveytest.controller.LanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>language</servlet-name>
      <url-pattern>/language</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>languageAdd</servlet-name>
      <servlet-class>surveytest.controller.LanguageAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>languageAdd</servlet-name>
      <url-pattern>/languageAdd</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>languageUpdate</servlet-name>
      <servlet-class>surveytest.controller.LanguageUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>languageUpdate</servlet-name>
      <url-pattern>/languageUpdate</url-pattern>
    </servlet-mapping>
    
    <!-- Question Actions -->
    <servlet>
      <servlet-name>question</servlet-name>
      <servlet-class>surveytest.controller.QuestionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>question</servlet-name>
      <url-pattern>/question</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>questionAdd</servlet-name>
      <servlet-class>surveytest.controller.QuestionAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>questionAdd</servlet-name>
      <url-pattern>/questionAdd</url-pattern>
    </servlet-mapping>    
    <servlet>
      <servlet-name>questionUpdate</servlet-name>
      <servlet-class>surveytest.controller.QuestionUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>questionUpdate</servlet-name>
      <url-pattern>/questionUpdate</url-pattern>
    </servlet-mapping>
    
    <!-- Answer Set Actions -->
    <servlet>
      <servlet-name>answerSet</servlet-name>
      <servlet-class>surveytest.controller.AnswerSetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answerSet</servlet-name>
      <url-pattern>/answerSet</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>answerSetAdd</servlet-name>
      <servlet-class>surveytest.controller.AnswerSetAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answerSetAdd</servlet-name>
      <url-pattern>/answerSetAdd</url-pattern>
    </servlet-mapping>    
    <servlet>
      <servlet-name>answerSetUpdate</servlet-name>
      <servlet-class>surveytest.controller.AnswerSetUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answerSetUpdate</servlet-name>
      <url-pattern>/answerSetUpdate</url-pattern>
    </servlet-mapping>    
    
    <!-- Answer Actions -->
    <servlet>
      <servlet-name>answer</servlet-name>
      <servlet-class>surveytest.controller.AnswerServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answer</servlet-name>
      <url-pattern>/answer</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>answerAdd</servlet-name>
      <servlet-class>surveytest.controller.AnswerAddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answerAdd</servlet-name>
      <url-pattern>/answerAdd</url-pattern>
    </servlet-mapping>    
    <servlet>
      <servlet-name>answerUpdate</servlet-name>
      <servlet-class>surveytest.controller.AnswerUpdateServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>answerUpdate</servlet-name>
      <url-pattern>/answerUpdate</url-pattern>
    </servlet-mapping>    
    
    <!-- User Survey Actions -->
    <servlet>
      <servlet-name>surveyLanguage</servlet-name>
      <servlet-class>surveytest.controller.SurveyLanguageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyLanguage</servlet-name>
      <url-pattern>/surveyLanguage</url-pattern>
    </servlet-mapping>        
    <servlet>
      <servlet-name>surveyResponse</servlet-name>
      <servlet-class>surveytest.controller.SurveyResponseServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyResponse</servlet-name>
      <url-pattern>/surveyResponse</url-pattern>
    </servlet-mapping>
    <servlet>
      <servlet-name>surveyConfirmation</servlet-name>
      <servlet-class>surveytest.controller.SurveyConfirmationServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyConfirmation</servlet-name>
      <url-pattern>/surveyConfirmation</url-pattern>
    </servlet-mapping>    

    <!-- Reports -->
    <servlet>
      <servlet-name>surveyResponses</servlet-name>
      <servlet-class>surveytest.controller.SurveyResponsesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>surveyResponses</servlet-name>
      <url-pattern>/surveyResponses</url-pattern>
    </servlet-mapping>    
    
    <!-- Logon page -->
    <servlet>
      <servlet-name>logon</servlet-name>
      <servlet-class>surveytest.controller.LogOnServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>logon</servlet-name>
      <url-pattern>/logon</url-pattern>
    </servlet-mapping>

    <!-- Rewards -->    
    <servlet>
      <servlet-name>rewards</servlet-name>
      <servlet-class>surveytest.controller.RewardsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
      <servlet-name>rewards</servlet-name>
      <url-pattern>/rewards</url-pattern>
    </servlet-mapping>    
    
    <error-page>
      <exception-type>surveytest.exceptions.UserNotFoundException</exception-type>
      <location>/redirects/logon.jsp</location>
    </error-page>
    
    <error-page>
      <exception-type>java.lang.Exception</exception-type>
      <location>/redirects/error.jsp</location>
    </error-page>
    
</web-app>
